XFLASH_DB_PATH=./data/xflash.db
XFLASH_BIND_HOST=127.0.0.1
XFLASH_BIND_PORT=8000
XFLASH_OLLAMA_URL=http://127.0.0.1:11434
XFLASH_DEFAULT_MODEL=xflash-llama31
XFLASH_MAX_CONCURRENCY_GLOBAL=2
XFLASH_MAX_CONCURRENCY_PER_USER=1
XFLASH_RATE_LIMIT_PER_MIN=10
XFLASH_MAX_PAYLOAD_BYTES=51200
XFLASH_MAX_META_ITEMS=10
XFLASH_MAX_TOKENS=700
XFLASH_OLLAMA_TIMEOUT_S=180
XFLASH_CORS_ORIGINS=
